<aside>
	<div class="panel radius">
		<h3>Women in Black</h3>
		<p>
		Women in Black ist derzeit der einzige a Capella Barbershop Chor in Berlin. Unser Repertoire reicht von den „wilden 20ern“ bis hin zu modernen Pop-Songs, die wir zu unterschiedlichen Anlässen vortragen. Auch wenn wir schwarz tragen: Wir bringen Freude und Farbe in jede Veranstaltung!
		</p>
	</div>

	<div>
		{% include alert warning='Sie möchten mit uns singen? Dann kommen Sie doch zur nächsten offenen Probe vorbei! Mehr Informationen <a href="mailt&#111;&#58;%77i&#98;b%6&#53;r&#37;6&#67;i%6E&#64;g&#37;6Dail&#46;c%6F&#109;">per Email</a>.' %}
	</div>
</aside>