---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{{ page.lang }}">
<head>
	{% include head %}
</head>
<body id="top-of-page" class="{{ page.format }}">
	{% unless page.skip_boilerplate %}
	{% include navigation %}
	{% endunless %}

	{% for post in posts %}
      {% if post.lang != page.lang %}
        {% assign url = post.url %}
        {% assign lang = post.lang %}
      {% endif %}
    {% endfor %}

	{% include masthead %}

	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include footer %}
	{% endunless %}

	{% include footer_scripts %}
</body>
</html>
